.promo {
  margin-top: 32px;
}
.comtainer {
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid red;
}

.box {
  background: linear-gradient(90deg, #c1dee8 0%, #fbd9b9 100%);
  height: 617px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.lable {
  margin-bottom: 15px;
  margin-left: 46px;
  display: inline-block;
}
.lable_mt91 {
  margin-top: 91px;
}
.promo__heading {
  width: 479px;
  font-weight: 600;
  font-size: 67px;
  margin-left: 46px;
  margin-bottom: 24px;
  line-height: 120%;
}
.text {
  margin-bottom: 24px;
  margin-left: 46px;
}
.text_w435 {
  width: 435px;
}
.form {
  margin-left: 46px;
  margin-bottom: 176px;
}
.form-email {
  padding: 18px 200px 18px 24px;
  border-radius: 40px;
  background-color: #fefeff;
  border: none;
}
.button {
  color: #fefeff;
  font-weight: 600;
  border-radius: 40px;
  background-color: #1f1f1f;
  padding: 18px 25px;
  border: none;
  width: 147px;
  position: relative;
  left: -80px;
}
.promo__box-image {
}
.promo__image {
  width: 748.196px;
  height: 912.442px;
  position: absolute;
  top: -100px;
  right: -120px;
}
